.hero-disk{
    background-color: #f0f0f0;
     font-family: "Libre Franklin", "Libre Fallback", sans-serif, sans-serif;
}
.hero-disk h1{
    font-size: clamp(1.5rem, 7vw, 3.5rem);
    font-family: "Libre Franklin", "Libre Fallback", sans-serif, sans-serif;
}
.hero-disk a{
    color: #219fc5;
}

/*******************************************/
.nav-link-custom:hover {
  color: #219fc5 !important;
  text-decoration: underline;
}

.main-products .filters .filter-title{
    color: #007fad;
}

.main-products .btn{
    background-color: #003349;
}

.products .btn{
    border: #003349 solid 2px;
    color: #003349;
}
.products .btn:hover{
    border: #007fad solid 2px;
    color: #007fad;
}
.product-image{
    position: relative;
    overflow: hidden;
}

.product-image video,
.product-image img{
    width: 100%;
    display: block;
}


.hover-image{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    object-fit: cover;
}


.product-image:hover .hover-image{
    opacity: 1;
    visibility: visible;
}
.product-image{
    position: relative;
    overflow: hidden;
}

.product-image img{
    width: 100%;
    display: block;
    transition: opacity .3s ease;
}


.product-image .img-hover{
    position: absolute;
    inset: 0;
    opacity: 0;
}


.product-image:hover .img-default{
    opacity: 0;
}

.product-image:hover .img-hover{
    opacity: 1;
}

.options h4, 
.options h6{
    color:#003349;
}
.options .btn{
    border: #003349 solid 2px;
    color: #003349;
    outline: #f0f0f0 1px solid;
}
.options .btn:hover{
    border: #007fad solid 2px;
    color: #007fad;
    background-color: white;
}